@import "tailwindcss";

@theme {
  --color-screen-bg: #121212;
  --color-background: #FBFBFA;
  --color-black-primary: #4A4A4A;
  --color-black-secondary: #626262;
  --color-blackest: #060606;
  --color-black-stroke: #3D3D3D;
  --color-white-primary: #DDDDDD;
  --color-white-secondary: #CCCCCC;
  --color-test: #00FF8F;

  /* --font-sans: Poppins;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; */
}

/* Ensure the app takes full viewport height */
html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Prevent zooming on mobile
@viewport {
  width: device-width;
  initial-scale: 1.0;
  maximum-scale: 1.0;
  user-scalable: no;
} */